.menu {
    color: white;
    padding: 5px 8px 5px 10px;
    border: 1px solid white;
}

.iconStyle {
    padding-top: 5px;
    width: 20px;
    height: 20px;
}

.menu-container {
    padding-top: 50px;
}

.menu-div {
    height: 100vh;
}

.card-width {
    border: 1px solid white;
}

.btnImg {
    width: 25px;
    height: 25px;
}

.btnImg:hover {
    cursor: pointer;
}

#manageProducts:hover {
    opacity: 0.7;
}

#addProducts:hover {
    opacity: 0.7;
}

#editProducts:hover {
    opacity: 0.7;
}

.icon {
    margin: 5px 4px 0 0;
}