.checkout {
    background: white;
    padding: 30px 0;
    margin-top: 0 !important;
}
.productPart {
    padding:  50px;
}
._price {
    background: orangered;
    color: wheat;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.paymentPart {
    background: royalblue;
    padding:  50px;
    color: white;
    border-radius: 10px;
}

.price>table {
    width: 100%;
    text-align: center;
}