.border-bottom {
    border-bottom: 1px solid black;
    border-collapse: collapse;
  }
  
  th {
    color: gray;
  }
  
  th,
  td {
    padding: 15px;
  }
  
  .total {
    font-weight: 600;
  }
  
  .icon {
    margin: 5px 4px 0 0;
  }
  
  .brand-icon {
    margin: 0 2px 0 6px;
  }